.block{
    background-color: antiquewhite;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 540px)
{
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px
        
    }
    .block{
        font-size: 2rem;
    }

    .block h1{
        margin: 0;
    }
    
    .b1{
        grid-column: 1/4;
    }
    .b2{
        grid-row: 2/5;
    }
    .b3{
        grid-row: 5/span 3;
    }
    .b4{
        grid-column: 3;
        grid-row: 4/6;
    }
    .b5{
        grid-column: 3;
        grid-row: 2/4;
    }
    .b6{
        grid-row: 2/span 6;
    }
    .b7{
        grid-column: 3;
        grid-row: 6/span 2;
    }
}